.core-bg{
    background-color: rgb(242, 253, 253);
}

.core-head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* background-image: url("public/images/corevalue-main-img.jpg"); */
}

.fs-18{
    font-size: 18px;
}

.core-bg h1{
    color:  #1DBFC1;
}